<launch>
	<group ns="spencer/sensors" >
		<arg name="driver_launchfile" value="$(find astra_launch)/launch/astra.launch" /> <!-- Astra camera launch file -->

		<include file="$(arg driver_launchfile)">
		  <arg name="camera" value="rgbd_front_top"/>
		  <arg name="device_id" value="#1"/>
		  <arg name="depth_registration" value="true"/>
		</include>
	</group>
    <include file="$(find spencer_people_tracking_launch)/launch/tracking_single_rgbd_sensor.launch">
	  <arg name="load_driver" value="false"/>
	  <arg name="use_upper_body_detector" value="true"/>
	  <arg name="use_pcl_detector" value="true"/>
	  <arg name="use_hog_detector" value="false"/> <!-- Only set to true if using GPU /-->
	  <arg name="dummy_transforms" value="false"/>
	</include>
</launch>
